<% provide(:title, 'About us') %>
<h1>About us</h1>
<p><a href="http://www.tetracom.eu/" target="_blank">TETRACOM homepage</a><p>
<p>
TESTING
The mission of the TETRACOM Coordination Action is to boost European
academia-to-industry technology transfer (TT) in all domains of Computing
Systems.  While many other European and national initiatives focus on training
of entrepreneurs and support for start-up companies, the key differentiator of
TETRACOM is a novel instrument called Technology Transfer Project (TTP).  TTPs
help to lower the barrier for researchers to make the first steps towards
commercialisation of their research results. TTPs are designed to provide
incentives for TT at small to medium scale via partial funding of dedicated,
well-defined, and short term academia-industry collaborations that bring
concrete R&D results into industrial use. This will be implemented via
competitive Expressions-of-Interest (EoI) calls for TTPs, whose coordination,
prioritization, evaluation, and management are the major actions of TETRACOM.
It is expected to fund up to 50 TTPs. The TTP activities will be complemented
by Technology Transfer Infrastructures (TTIs) that provide training, service,
and dissemination actions. These are designed to encourage a larger fraction of
the R&D community to engage in TTPs, possibly even for the first time.
Altogether, TETRACOM is conceived as the major pilot project of its kind in the
area of Computing Systems, acting as a TT catalyst for the mutual benefit of
academia and industry. The project´s primary success metrics are the number and
value of coordinated TTPs as well as the amount of newly introduced European TT
actors. It is expected to acquire around more than 20 new contractors over the
project duration. TETRACOM complements and actually precedes the use of
existing financial instruments such as venture capital or business angels based
funding.
</p>
