<% provide(:title, 'Contact') %>
<h1>Contact</h1>
<p>
For further information, please contact Prof. Rainer Leupers, RWTH Aachen University: <a href="mailto:leupers@ice.rwth-aachen.de" target="_top">leupers@ice.rwth-aachen.de</a>
</p>
