<% provide(:title, 'Contact') %>
<h1>Contact</h1>
<p>
Please send suggestions for improvement or reports of inappropriate use to Mr. Thomas Chau, Imperial College London: <a href="mailto:thomasccp@msn.com" target="_blank">thomasccp@msn.com</a>.
</p>
<p>
For further information, please contact Prof. Rainer Leupers, RWTH Aachen University: <a href="mailto:leupers@ice.rwth-aachen.de" target="_top">leupers@ice.rwth-aachen.de</a>.
</p>
