<% provide(:title, 'Ask our experts') %>
<h1>Ask our experts</h1>

<div class="row">
	<aside class="span2">
	<section>
	<h1>
		<img title="Rainer Leupers" alt="" src="http://es.iet.unipi.it/tetracom/content/uploads/images/RainerLupers.png">
	</h1>
	</section>
	</aside>
	<div class="span10">

		<h3>Rainer Leupers</h3>
		<h4>RWTH Aachen University (RWTH)</h4>

		<br>
		<h5>Primary focus: EDA, Microprocessors, DSP, Compilers, Simulation</h5>
		<br>

		<p>
		Rainer Leupers received the M.Sc. (Dipl.-Inform.) and Ph.D. (Dr. rer. nat.) degrees in Computer Science with honors from the Technical University of Dortmund, Germany, in 1992 and 1997. In 2002, Dr. Leupers joined RWTH Aachen University as a professor for Software for Systems on Silicon. Since then, he has also been a visiting faculty member at the ALARI Institute in Lugano. His research and teaching activities comprise software development tools, processor architectures, and electronic design automation for embedded systems. He published numerous books and technical papers, and he served as program committee member and topic chair of leading international conferences, including DAC, DATE, and ICCAD. He was a co-chair of the MPSoC Forum and SCOPES. Dr. Leupers received several scientific awards, including Best Paper Awards at DATE 2000, 2008 and DAC 2002, and he holds several patents on processor design automation technologies. He has served as an expert for the European Commission, and in the management boards of compound research projects like UMIC, HiPEAC, and ARTIST.
		</p>

		<p>
		<a href="mailto:leupers@ice.rwth-aachen.de" target="_blank">Contact Rainer</a>
		</p>
	</div>

</div>

<hr>

<div class="row">
	<aside class="span2">
	<section>
	<h1>
		<img title="Wayne Luk" alt="" src="http://es.iet.unipi.it/tetracom/content/uploads/images/wayneLuk.png">
	</h1>
	</section>
	</aside>
	<div class="span10">

		<h3>Wayne Luk</h3>
		<h4>Imperial College (IMC)</h4>

		<br>
		<h5>Primary focus: Reconfigurable Systems, FPGA</h5>
		<br>

		<p>
		Wayne Luk is Professor of Computer Engineering at Imperial College London. He founded and leads the Computer Systems Section and the Custom Computing Group in Department of Computing, and was Visiting Professor at Stanford University and Queen's University Belfast. His research interests include reconfigurable computing, field-programmable technology, and design automation. Many of his papers received awards from the ARC, ASAP, FPL, FPT, SAMOS, and SPL conferences. He won an Ironman Award at the 20th FCCM Symposium for enduring excellence and prolific research, and a Research Excellence Award from Imperial College London for reconfigurable supercomputing. With his colleagues and students, he pioneered a novel field-programmable gate array optimized for floating-point applications with a programmable embedded block architecture which can be customized; the work received the Stamatis Vassiliadis Outstanding Paper Award out of 302 submissions to FPL'07, while the journal version of this paper is ranked among the top 25 most downloaded papers of IEEE Transactions on VLSI Systems in 2009. He is a Fellow of the Royal Academy of Engineering, a Fellow of the IEEE and a Fellow of the BCS, and was founding Editor-in-Chief for ACM Transactions on Reconfigurable Technology and Systems.
		</p>

		<p>
		<a href="mailto:w.luk@imperial.ac.uk" target="_blank">Contact Wayne</a>
		</p>
	</div>

</div>

<hr>

