<% provide(:title, 'Ask our experts') %>
<h1>Ask our experts</h1>

<div class="row">
	<aside class="span2">
	<section>
	<h1>
		<img title="Wayne Luk" alt="" src="http://es.iet.unipi.it/tetracom/content/uploads/images/wayneLuk.png">
	</h1>
	</section>
	</aside>
	<div class="span8">

		<h3>Wayne Luk</h3>
		<h4>Imperial College (IMC)</h4>

		<br>
		<h5>Primary focus: Reconfigurable Systems, FPGA</h5>
		<br>

		<p>
		Wayne Luk is Professor of Computer Engineering at Imperial College London. He founded and leads the Computer Systems Section and the Custom Computing Group in Department of Computing, and was Visiting Professor at Stanford University and Queen's University Belfast. His research interests include reconfigurable computing, field-programmable technology, and design automation. Many of his papers received awards from the ARC, ASAP, FPL, FPT, SAMOS, and SPL conferences. He won an Ironman Award at the 20th FCCM Symposium for enduring excellence and prolific research, and a Research Excellence Award from Imperial College London for reconfigurable supercomputing. With his colleagues and students, he pioneered a novel field-programmable gate array optimized for floating-point applications with a programmable embedded block architecture which can be customized; the work received the Stamatis Vassiliadis Outstanding Paper Award out of 302 submissions to FPL'07, while the journal version of this paper is ranked among the top 25 most downloaded papers of IEEE Transactions on VLSI Systems in 2009. He is a Fellow of the Royal Academy of Engineering, a Fellow of the IEEE and a Fellow of the BCS, and was founding Editor-in-Chief for ACM Transactions on Reconfigurable Technology and Systems.
		</p>

		<p>
		<a href="mailto:w.luk@imperial.ac.uk" target="_blank">Contact Wayne</a>
		</p>
	</div>

	<hr>


</div>
