<% provide(:title, 'Help') %>
<h1>Help</h1>
<p>
<ul>
	<li>For new user, <%= link_to "Sign up", signup_path %> for a new account</li>
	<li>For returning user, <%= link_to "Sign in", signin_path %> to access your account</li>
</ul>
</p>
