<% provide(:title, 'Help') %>
<h1>Help</h1>
<ul>
	<li>To use this service, one needs to register: follow <%= link_to "Sign up now", signup_path %> in the "Sign in" page to register for a new account. After signing in, one's profile can be accessed via "Home"  or "Account-Profile". Personal information can be updated via "Account-Settings".</li>
	<li>Name, email address and password must be entered. By default only the email address is disclosed to public. If you want the other users to see it, tick the checkboxes.</li>
	<li>If the "Expertise" box is filled in (each skill separate by a comma),  then you are an Expert and your contact details and expertise will be shown to all registered users. Otherwise you are a User and your details will not be displayed.</li>
	<li>Once a User or an Expert is registered, then the list of Experts and their contact information will be accessible. The User can then contact the Expert based on the contact information.</li>
	<li>Personal information can be updated at "Account-Settings".</li>
</ul>
</p>
