<% provide(:title, 'Help') %>
<h1>Help</h1>
<ul>
	<li>To use this service, one first needs to register for a new account.</li>
	<li>Name, email address and password must be entered. By default no personal information is disclosed to registered users. If you wish information such as name, email address and phone number to become visible, tick the appropriate checkbox next to "Public".</li>
	<li>If the "Expertise" box is filled in, you are an <strong>Expert</strong> and your contact details and description of expertise will be shown to all registered users. Otherwise you are a <strong>User</strong> and your details will not be displayed.</li>
	<li>After signing in, user's profile can be accessed via <em>My profile</em>.</li>
	<li>The list of Experts and their contact information are accessible via <em>Users list</em>.</li>
	<li>User can search for a target list of Experts by typing in keywords, which can be name or expertise.</li>
	<li>User can then contact the Expert based on the contact information.</li>
	<li>User can also click the <em>Send message</em> button to send private messages to the expert through this service. A record of messages sent and received are accessible via <em>My messages</em>.</li>
	<li>Personal information can be updated at <em>Account-Edit my profile</em>.</li>
</ul>
</p>
