<% provide(:title, 'Help') %>
<h1>Help</h1>
<ul>
	<li>To use this service, one first needs to <em>"Create a new account"</em>.</li>
	<li>Name, email address and password must be entered. By default no personal information is disclosed to registered users. If you wish information such as name, email address and phone number to become visible, tick the appropriate checkbox next to <em>"Public"</em>.</li>
	<li>If the <em>"Expertise"</em> box is filled in, you are an <strong>Expert</strong> and your contact details and description of expertise will be shown to all registered users. Otherwise you are a <strong>User</strong> and your details will not be displayed.</li>
	<li>After signing in, user's profile can be accessed via <em>"My profile"</em>.</li>
	<li>The list of Experts and their contact information are accessible via <em>"Users list"</em>.</li>
	<li>User can search for a target list of Experts by typing in keywords, which can be a name or words describing expertise.</li>
	<li>By clicking the name of an Expert, user can view the profile of the Expert and perform the following funtions:
	<ol>
		<li>Contact the Expert based on the contact information.</li>
		<li>Click the <em>"Send message"</em> button below the expert name to send a private message to the expert through this service. A record of messages sent and received are accessible via <em>"My messages"</em>.</li>
	</ol>
	</li>
	<li>Personal information can be updated at <em>"Account"-"Edit my profile"</em>.</li>
</ul>
</p>
