<% provide(:title, 'Help') %>
<h1>Help</h1>
<ul>
	<li>To use this service, one first needs to register for a new account. After signing in, one's profile can be accessed via <em>Home</em> or <em>Account-Profile</em>.</li>
	<li>Name, email address and password must be entered. By default only the email address is disclosed to registered users. If you wish other information such as phone number to become visible, tick the appropriate checkbox.</li>
	<li>If the "Expertise" box is filled in (each expertise skill separate by a comma),  then you are an <strong>Expert</strong> and your contact details and description of expertise will be shown to all registered users. Otherwise you are a <strong>User</strong> and your details will not be displayed.</li>
	<li>Once a User or an Expert is registered, then the list of Experts and their contact information will be accessible. The User can then contact the Expert based on the contact information.</li>
	<li>Personal information can be updated at <em>Account-Settings</em>.</li>
</ul>
</p>
