<html>
	<body>
		<h1>Terms and conditions</h1>
		<p>
		By pressing <em>"Create my account"</em>, a user of this Consultation Service agrees that this Consultation Service and the list of Experts will not be responsible for any situation that may arise as a result of using this Consultation Service. A user agrees to provide correct information, and agrees to contact the Experts for the purpose of seeking advice for technology transfer involving computing systems only. Anyone registered as an Expert agrees to provide an appropriate description of the expertise skills, and also agrees to provide both this description and the contact details to registered users of this service. Anyone using this service accepts that it can be withdrawn at any time without prior notice.
		</p>
	</body>
</html>
