<%= form_tag password_resets_path, :method => :post do %>
	<div class="field">
		<%= label_tag :email, 'Enter your email address below:' %>
		<%= text_field_tag :email, params[:email] %>
	</div>
	<div class="actions"><%= submit_tag "Reset Password" %></div>
		
	<h2>You will receive an email with instructions to reset your password.</h2>
<% end %>
