%h1 My messages
%table{:class => "table table-striped"}
    %tr
        %th{:width => "33%"} Inbox 
        %th{:width => "33%"} Sentbox 
        %th{:width => "33%"} Trash  
    %tr
        %td= render mailbox.inbox
        %td= render mailbox.sentbox
        %td= render mailbox.trash
