%h1 My messages
<%= will_paginate %>
%table{:class => "table table-striped"}
    %tr
        %th{:width => "33%"} Inbox 
        %th{:width => "33%"} Sentboxtbox 
        %th{:width => "33%"} Trash  
    %tr
        %td= render mailbox.inbox
        %td= render mailbox.sentbox
        %td= render mailbox.trash
<%= will_paginate %>
