- if @box.eql? "inbox"
    %h1 My inbox
- elsif @box.eql? "sentbox"
    %h1 My sentbox
- else
    %h1 My trash
%table{:class => "table table-striped"}
    %tr
        %th{:width => "33%"} Messages
    %tr
        %td= render @conversations
%p= paginate @conversations
