<% provide(:title, 'All experts') %>
<h1>All experts</h1>

<%= will_paginate %>

<table class="table table-striped">
<%= render @users %>
</table>

<%= will_paginate %>

<small>
	Please send suggestions for improvement or reports of inappropriate use to: <a href="mailto:thomasccp@msn.com" target="_blank">thomasccp@msn.com</a>.
</small>
