<table class="table table-striped">
	<tr>
		<td>Email:</td>
		<td><%= current_user?(@user) || @user.show_email==true ? @user.email : 'Hidden' %></td>
	</tr>
	<tr>
		<td>Phone:</td>
		<td><%= current_user?(@user) || @user.show_phone==true ? @user.phone : 'Hidden' %></td>
	</tr>
	<tr>
		<td>Affiliation:</td>
		<td><%= current_user?(@user) || @user.show_affiliation==true ? @user.affiliation : 'Hidden' %></td>
	</tr>
	<tr>
		<td>Expertise:</td>
		<td>
			<ul>
				<% skills = @user.expertise.split(",") %>
				<% skills.each do |skill| %>
					<li><%= skill %></li>
				<% end %>
			</ul>
		</td>
	</tr>
</table>
